*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
/* header and navigation title */
.nav-title{
    font-weight: 800px;
    width: 80px;
}
.primary-color{
    color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    height: 64px;
    color: white;
    font-weight: 700px;
    font-size: 20px;
    padding: 18px 35px;
    border: 0px;
    border-radius: 5px;
    background: #fd6e0a;
}
/* banner style */
.banner{
    margin: 0px 200px;
    align-items: center;
    display: flex;
}
.banner-title{
    font-weight: 700px;
    font-size: 85px;
}
.sub-title{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}
.header{
    background-color: #fff8f3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* about section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
   
    margin-bottom: 30px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-decription{
    font-weight: 700px;
    font-size: 20px;
}
.what{
    margin-top: 150px;
    margin-bottom: ;
}
.tile{
    text-align: center;
    margin-bottom: 70px;
}
.skills{
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.66);
    border-radius: 5px;
}
.skills-container{
    display: flex;
    gap: 20px;
}
.skill-title{
    text-align: center;
    font-weight: 700px;
    font-size: 20px;
    margin-top: 20px;
}
.skill-description{
    color: #757575;
}
.summary{
    margin-top: 150px;

}
.resume-content{
   display: flex;
   gap: 24px;
}
.title{
    font-weight: 700px;
    font-size: 25px;
    color: #757575;
    margin-bottom: 10px;

}
.resume-item{
    margin-bottom: 10px;
}
.sub-title{
    color: #757575;
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact section */
.contact{
    display: flex;
    gap: 100px;
    margin-top: 50px;
    background: #fff8f3;
    padding: 120px 200px;
}
a{
    text-decoration: none;
    margin-top: 30px;
}
.section-title{
    text-align: left;
}
textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;

}
#name{
    width: 100%;
    height: 30px;
    margin: 12px;
    border: none;
    border-radius: 3px;
}